<h1> Properties Listing  </h1>
<div class="container-fluid" align="center">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <nav class="navbar navbar-dark bg-dark">
        <%= link_to 'Home', welcome_index_path %>  <br>
        <%= link_to 'Add Property', new_property_path %>
      </nav> 
    </div>
  </div>
  
</div>


<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Place</th>
    <th>Purchase Order</th>
    <th>Description</th>
    <th>Photo</th>
    <th>Price Point</th>
    <th colspan = "3"></th>
  </tr>

  <%= @properties.each do |property| %>
    <tr>
    
      <td><%= property.name %></td>
      <td><%= property.place %></td>
      <td><%= property.purchaseOrder %></td>
      <td><%= property.Description %></td>
      <td><%= image_tag property.visual %></td>
      <td><%= property.currency %><%= property.s.round(2)%></td>
      <td><%= link_to 'Show', property_path(property) %></td>
        <td><%= link_to "Procure", "https://www.paystack.com/pay/realest", :target => "_blank" %></td>  
      
      <% if property.person == current_person %>
        
      	<td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Take Off the Market', property_path(property), method: :delete, data: {confirm: 'Are you Certain?'} %></td>
      	
      <% end %>
      
    </tr>
  <% end %>

 
</table>
