<p><div class="row">

  <div class="col-md-3 col-md-offset-1">
    <strong>Primary House View -</strong>
  </div>
   <div class="col-md-8">
     <%= image_tag @property.visual%>
   </div> 
  </div>
</p>

<p><div class="row">
   <div class="col-md-3 col-md-offset-1">
     <strong>Name -</strong>
   </div>
   <div class="col-md-8">
     <%= @property.name %>
   </div>
  </div>
</p>
<p>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <strong>Place -<strong>
    </div>
      <div class="col-md-8">
        <%= @property.place %>
      </div>
  </div>
</p>
<p>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <strong>Multiple Views -<strong>
    </div>
     <div class="col-md-8">
       <% @property.piece.each do |u| %>
         <%= image_tag u %>
        <% end %>
     </div>
  </div>
</p>
<p>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <strong>Price -<strong>
    </div>
    <div class="col-md-8">
      <%= @property.price %>
    </div>
  </div>
</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back', properties_path %>
  </div>
</div>
